td ul {
  margin: 0px;
  padding: 0px;
}

td ul li {
  list-style-type: none;
}

.apps-box {
}

.apps-list {

}

.apps-list {
  list-style: none outside none;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-left: 0px;
}

.apps-list li {
    float: left;
    width: 20%;
    text-align: center;
    background-color: #F9F9F9;
    border: 1px solid #AAA;
    margin: 2px;
}

.apps-list li a {
    display: block;
    padding: 10px;
}

.apps-list .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.apps-list .glyphicon-class {
    display: block;
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
}

.main-content {
  margin-top: 70px;
}

.actions {
  white-space: nowrap;
}
.actions a {
    margin: 1px;
}
.tableActions {
    border-top: 1px dotted #EEE;
    clear: both;
    margin-top: 5px;
    padding-top: 3px;
}
table tr td {
    font-size: 0.8em;
}